@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,800;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-laranja: #ff5a00
  --color-preto: #000000;
  --color-laranjaClarinho: #ffbd99;
  --color-branco: #ffffff;
  --color-laranjaEscuro: #802d00;

  font-family: 'Rubik', sans-serif;
}

.btnViewCardapio {
  box-sizing: border-box;

  width: 250px;
  height: 70px;

  background: #ff5a00;

  border: 2px solid #ff5a00;
  border-radius: 8px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  margin-right: 30px;

  color: #ffffff;
}

.selected {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 240px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  text-align: center;

  color: #000000;

  padding: 10px;
  margin-top: -30px;

  background: #ff5a00;
  border-radius: 8px;
}

@media only screen and (max-width: 767px)  {
  .btnViewCardapio {
    width: 150px;
    height: 45px;
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;

    text-align: center;
  }
}
